<div id="wrapper-all-content">
    <div id="sidebar-wrapper" ng-controller="newsSidebar">
        <div class="sidebar-brand">
            <div class="brand-text-and-logo">
                <a ui-sref="feed">
                    <img src="assets/img/unicorn.png" alt="">
                </a>
                <span>Users Chat</span>
            </div>
        </div>
        <div class="sidebar-profile-section">
            <img ng-src="{{$storage.user.avatar}}" alt="" onclick="setStatus()" class="online" id="yourStatus">
            <div class="profile-text">
                <span>{{$storage.user.display_name}}</span>
                <p>{{$storage.user.email}}</p>
                <a ui-sref="settingsProfile" class="fa fa-cogs" aria-hidden="true"></a>
            </div>
            <div id="set-status">
                <div id="offline" onclick="setOffline()"></div>
                <div id="busy" onclick="setBusy()"></div>
                <div id="online" onclick="setOnline()"></div>
            </div>
        </div>
        <div id="sidebar-feed">
            <section class="sidebar-feed">
                <div ng-repeat="messageItem in sideFeed | orderBy: '-last_timestamp'">
                    <article class="sidebar-single-feed">
                        <a ui-sref="chat({chatId: messageItem._id})">
                        <img ng-src="{{ messageItem.avatar }}" alt="">
                        <p>{{messageItem.display_name}}</p>
                        </a>
                    </article>
                </div>
            </section>
        </div>
        <div id="sidebar-search">
            <form id="searchform" method="get" novalidate>
                <input type="search" ng-model="searchquery" ng-change="searchUser(searchquery)" placeholder="Search for usernames and conversations..." />
            </form>
        </div>
        <div class="sidebar-bottom-icons">
            <a ui-sref="feed"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
            <a href="#" id="search-button" onclick="toggleSearchBar()"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            <a href="" data-toggle="modal" data-target="#conversationModal"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
            <a href="#" ng-click="logOut()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>

    <div id="page-content-wrapper" class="col-md-12">
        <!--Main content goes here-->

        <ui-view></ui-view>
    </div>
    <div class="modal fade" id="conversationModal" tabindex="-1" role="dialog" ng-controller="conversationController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New conversation</h4>
                </div>
                <form name="conversationForm"  id="conversationForm" novalidate method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="displayname">Conversation name</label>
                            <input type="text" class="form-control" required ng-model="conv.display_name">
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar</label>
                            <input type="url" class="form-control" placeholder="http://" ng-model="conv.avatar">
                        </div>
                        <div class="form-group">
                            <label for="bio">Members</label>
                            <div class="dropdown">
                                <input type="text" class="form-control" ng-model="tempMember" ng-change="checkMember()" />
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="finder.length > 0">
                                    <li ng-repeat="n in finder">
                                        <a href="" ng-click="addMemberToConversation(n)">@{{n.display_name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="members-collection">
                                <li ng-repeat="n in conv.tempmembers">{{n.display_name}} <button ng-click="removeMemberFromConversation(n)"> x </button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cleanUpCreateWindow()">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addConversation()">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
