
<section class="profileSection">
    <div class="container col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-xs-2">
                <img ng-src="{{$storage.user.avatar}}" class="profileImg" />
            </div>
            <div class="col-xs-4">
                <br />
                <p class="title">Display name <i class="fa fa-wrench"></i></p>
                <p ng-model="showName">{{$storage.user.display_name}}</p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">Change settings</button>
                <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetSettings()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="Settingslabel">Change settings</h4>
                            </div>
                            <form name="settingsForm"  id="settingsForm" novalidate method="put">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="displayname">Display name</label>
                                        <input type="text" class="form-control" id="displayname" ng-model="$storage.user.display_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="avatar">Avatar</label>
                                        <input type="url" class="form-control" id="avatar" placeholder="http://" ng-model="$storage.user.avatar">
                                    </div>
                                    <div class="form-group">
                                        <label for="bio">Bio</label>
                                        <textarea class="form-control" id="bio" ng-model="$storage.user.bio"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="regpassword">New password</label>
                                        <input type="password" class="form-control" id="regpassword" placeholder="Password" ng-model="$storage.user.password" name="password" ng-pattern="/^\S{1,}$/" ng-trim="false"  ng-minlength="5">
                                        <div ng-if="settingsForm.password.$error.pattern == true || settingsForm.password.$error.minlength == true" class="alert alert-danger">
                                            <p>
                                                Atleast 5 characters. No spaces allowed.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="regrepeatpassword">Repeat password</label>
                                        <input type="password" class="form-control" id="regrepeatpassword" ng-model="confirmRepeat" required placeholder="Repeat password" name="repeat" ng-pattern="$storage.user.password">
                                        <div ng-if="settingsForm.repeat.$error.pattern" class="alert alert-danger">
                                            <p>
                                                Not correct
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="resetSettings()" data-dismiss="modal">Close</button>
                                    <input type="submit" ng-disabled="settingsForm.$invalid" class="btn btn-primary" data-dismiss="modal" value="Save changes" ng-click="updateSettings()" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row profileDivider"></div>
        <div class="row">
            <div class="col-xs-4">
                <p class="title">Email: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourEmail">{{$storage.user.email}}</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Bio: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourInfo">{{$storage.user.bio}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Light theme:</p>
                <input ng-model="$storage.user.lightTheme" type="checkbox" ng-change="updateSettings()" body-class />
            </div>
        </div>
    </div>
</section>
