
<section class="profileSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-5" ng-model="imgSrc">
                <img src="{{ imgSrc }}" class="profileImg" />
            </div>
            <div class="col-xs-6">
                <br />
                <p class="title">Name: <i class="fa fa-wrench"></i></p>
                <p ng-model="showName">{{$storage.user.display_name}}</p>
                <p class="title">Username: <i class="fa fa-wrench"></i></p>
                <p ng-model="userName">@{{ userName }}</p>
                <input type="button" class="passwordButton btn btn-danger" value="Change password">
            </div>
        </div>
        <div class="row profileDivider"></div>
        <div class="row">
            <div class="col-xs-4">
                <p class="title">Email: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourEmail">{{$storage.user.email}}</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Bio: <i class="fa fa-wrench"></i></p>
                <p ng-model="yourInfo">{{$storage.user.bio}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="title">Light theme:</p>
                <input ng-model="$storage.user.lightTheme" type="checkbox" ng-change="updateSettings()" body-class />
            </div>
        </div>
    </div>
</section>
