
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

   <div ng-controller="startPage">
      <div>
         <div ng-if="!loggedIn" ng-include src="'partials/login.html'">
         </div>
         <div ng-if="loggedIn" ng-include src="'partials/main.html'">
         </div>
      </div>
   </div>

   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
   <script src="dist/all.js"></script>
   <script>
   function openRegisterTab() {
       var appregister = document.getElementById("app-register");
       if (appregister.style.display === "block") {
           appregister.style.display = "none";
       } else {
           appregister.style.display = "block";
       }
   }
   </script>
</body>
</html>
