<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body class="app-login">

   <div class="container-fluid" ng-controller="register">
       <div class="row">
            <div class="col-xs-12 login-header text-center">
                <img src="assets/img/logga_gif.gif">
                <h1 class="logo">Users chat</h1>
            </div>
       </div>
       <div class="row">
            <div class="col-sm-8 col-sm-offset-2 login-window">
                <h1>Login now</h1>
                <h2>Unicorns be waiting</h2>
                <form class="form-inline" name="myForm" id="login-form" ng-submit="login(userLogin)" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="Username" ng-model="userLogin.email" required>
                        <p ng-show="userLogin.email.$invalid">Hej</p>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="userLogin.password" required>
                    </div>
                    <button type="submit" class="login-button" ng-disabled="myForm.$invalid">Sign in</button>
                </form>
                {{hello}}
                <p>Don't have an account?</p>
                <a href="#" onclick="openRegisterTab()">Create account <span class="caret"></span></a>
                <div id="app-register">
                    <h3>So you wanna be a rocket scientist huh?</h3>
                    <p>Let's see what we can do. We'll need some information first though.</p>
                    <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 text-left">

                        <form id="register-form" ng-submit="register(userReg)" novalidate name="registerForm">

                            <div class="form-group">
                                <label for="regusername">Username</label>
                                <input type="text" class="form-control" id="regusername" placeholder="Username" ng-model="userReg.userName" name="username" regexp>
                                {{registerForm.username.$value}}
                                {{registerForm.username.$error.pattern}}
                            </div>
                            <div class="form-group">
                                <label for="regemail">Email</label>
                                <input type="email" class="form-control" id="regemail" placeholder="Email" ng-model="userReg.email">
                            </div>
                            <div class="form-group">
                                <label for="regpassword">Password</label>
                                <input type="password" class="form-control" id="regpassword" placeholder="Password" ng-model="userReg.password">
                            </div>
                            <div class="form-group">
                                <label for="regrepeatpassword">Repeat password</label>
                                <input type="password" class="form-control" id="regrepeatpassword" compare-to="userReg.password" ng-model="userReg.confirmPassword" required placeholder="Repeat password">
                                {{userReg.confirmPassword}}
                            </div>
                            <button type="submit" class="register-button" ng-disabled="userReg.confirmPassword.$invalid">Register</button>
                        </form>
                    </div>
                </div>
            </div>
       </div>
   </div>
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
   <script src="dist/all.js"></script>
   <script>
   function openRegisterTab() {
       var appregister = document.getElementById("app-register");
       if (appregister.style.display === "block") {
           appregister.style.display = "none";
       } else {
           appregister.style.display = "block";
       }
   }
   </script>
</body>
</html>
