<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body class="app-login">

   <div class="container-fluid" ng-controller="register">
       <div class="row">
            <div class="col-xs-12 login-header text-center">
                <img src="assets/img/logga_gif.gif">
                <h1 class="logo">Users chat</h1>
            </div>
       </div>
       <div class="row">
            <div class="col-sm-8 col-sm-offset-2 login-window">
                <h1>Login now</h1>
                <h2>Unicorns be waiting</h2>
                <form class="form-inline" name="myForm" id="login-form" ng-submit="login(userLogin)" novalidate>
                    <div class="form-group" style="position:relative;">
                        <label class="sr-only" for="username">Username</label>
                        <p ng-show="myForm.username.$invalid && myForm.username.$touched" class="alert alert-danger" style="position : absolute; top: -55px;">Var vänlig skriv in email</p>
                        <input type="email" class="form-control hint--top" aria-label="Thank you!" id="username" name="username" placeholder="Username" ng-model="userLogin.email" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="userLogin.password" required>
                    </div>
                    <button type="submit" class="login-button" ng-disabled="myForm.$invalid">Sign in</button>
                </form>
                {{hello}}
                <p>Don't have an account?</p>
                <a href="#" onclick="openRegisterTab()">Create account <span class="caret"></span></a>
                <div id="app-register">
                    <h3>So you wanna be a rocket scientist huh?</h3>
                    <p>Let's see what we can do. We'll need some information first though.</p>
                    <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4 text-left">

                        <form id="register-form" ng-submit="register(userReg)" novalidate name="registerForm">

                            <div class="form-group">
                                <label for="regusername">Username</label>
                                <input type="text" class="form-control" id="regusername" placeholder="Username" ng-model="userReg.userName" name="username" ng-pattern="/^[a-zA-Z0-9]{1,}$/" ng-minlength="2" ng-maxlength="10">

                                <div ng-if="registerForm.username.$error.pattern || registerForm.username.$error.minlength || registerForm.username.$error.maxlength" class="alert alert-danger regValid">
                                        <p>
                                            Only numbers and letters and 2-10 characters allowed.
                                        </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="regemail">Email</label>
                                <input type="email" class="form-control" id="regemail" placeholder="Email" ng-model="userReg.email" name="email">
                                <div ng-if="registerForm.email.$error.email == true" class="alert alert-danger regValid">
                                    Not a proper e-mail.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="regpassword">Password</label>
                                <input type="password" class="form-control" id="regpassword" placeholder="Password" ng-model="userReg.password" name="password" ng-pattern="/^\S{1,}$/" ng-trim="false"  ng-minlength="5">
                                <div ng-if="registerForm.password.$error.pattern == true || registerForm.password.$error.minlength == true" class="alert alert-danger">
                                    <p>
                                        Atleast 8 characters. No spaces allowed.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="regrepeatpassword">Repeat password</label>
                                <input type="password" class="form-control" id="regrepeatpassword" compare-to="userReg.password" ng-model="userReg.confirmPassword" required placeholder="Repeat password"  name="repeat" ng-pattern="userReg.password">
                                {{registerForm.repeat.$error.pattern}}
                                <div ng-if="registerForm.repeat.$error.pattern" class="alert alert-danger">
                                    <p>
                                        Not correct
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="register-button" ng-disabled="registerForm.$invalid">Register</button>
                        </form>
                    </div>
                </div>
            </div>
       </div>
   </div>
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
   <script src="dist/all.js"></script>
   <script>
   function openRegisterTab() {
       var appregister = document.getElementById("app-register");
       if (appregister.style.display === "block") {
           appregister.style.display = "none";
       } else {
           appregister.style.display = "block";
       }
   }
   </script>
</body>
</html>
