#sidenav-body {
    margin: 0;
    height: 100%;
}

#sidebar-html {
    height: 100%;
}

html, body { height: 100%; width: 100%; margin: 0; }

#wrapper-all-content {
    height: 100%;
}

#page-content-wrapper {
    height: 100vh;
    background-color: $primaryBgColor;
    padding-left: $sidebarWidth;
    padding-right: 0;
}

#sidebar-wrapper {
    border-collapse: collapse;
    display: table;

    a {
        &:link, &:visited {
            color: white;
        }
        &:focus, &:hover {
            text-decoration: none;
        }
    }
    z-index: 1;
    position: fixed;
    height: 100%;
    width: $sidebarWidth;
    overflow-y: hidden;
    background-color: $primaryBgColor;

    color: white;
    font-family: $primaryFont;
    box-shadow: 6px 3px 6px 0 rgba(0, 0, 0, 0.75);
}

.sidebar-brand {
    background-color: $primaryAccentColor;
    height: 93px;
}

.brand-text-and-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 65px;
    height: 100%;
    img {
        width: 60px;
        height: 60px;
        vertical-align: middle
    }
    span {
        padding-left: 25px;
        font-family: $primaryFont;
        font-size: 23px;
        color: white;
    }
}
.sidebar-profile-section {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 3%;
    img {
        margin-top: 19px;
        margin-left: 27px;
        height: 55px;
        width: 55px;
        border-radius: 50%;

        &.online {
            box-shadow: 0px 0px 4px $primaryUserOnlineColor;
        }
        &.offline {
            box-shadow: 0px 0px 2px 1px #e5001d;
        }
        &.busy {
            box-shadow: 0px 0px 2px 1px #ff5000;
        }
    }
    .profile-text {
        line-height: 19px;
        margin-top: 30px;
        margin-left: 15px;
        p {
            font-size: 14px;
        }
        a {
            position: absolute;
            right: 26px;
            top: 130px;
        }
    }
    #set-status {
        display: none;
        float: left;
        padding: 6px;
        position: absolute;

        #offline {
            border-radius: 100px;
            background-color: #e5001d;
            height: 18px;
            margin: 4px 0;
            width: 18px;
        }
        #busy {
            border-radius: 100px;
            background-color: #ff5000;
            height: 18px;
            margin: 4px 0;
            width: 18px;
        }
        #online {
            border-radius: 100px;
            background-color: $primaryUserOnlineColor;
            height: 18px;
            margin: 4px 0;
            width: 18px;
        }
    }
}


.sidebar-bottom-icons {
    display: table-row;
    vertical-align: bottom;
    height: 63px;
    text-align: center;
    a {
        padding: 0 15px;
    }
}

.main-content-header {
    height: 93px;
    border: solid $primaryDividerColor 1px;
    margin: 0;
    font-family: $primaryFont;
    font-size: 22px;
    color: white;
    line-height: 93px;
    p{
        text-align: center;
    }
}

#sidebar-search {
    -webkit-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
    visibility: hidden;
    opacity: 0;
    display: block;
    position: fixed;
    width: $sidebarWidth;
    bottom: 75px;

    input {
        width:95%;
        margin: 0 auto;
        display: block;
        color: #000;
        padding: 5px 7px;
        border: none;
        border-radius: 6px;
    }
}


/* feeed styleeees */

#sidebar-feed {
    width: 100%;
    height: calc(100% - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    :first-child {
        margin-top: 0;
    }
}

section.sidebar-feed {
    margin-top: 3%;
    article.sidebar-single-feed {
        padding: 2.5% 0 2.5% 5%;
        border-top: solid 1px $primaryDividerColor;

        img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            margin-left: 5%;
        }

        p {
            opacity: 0.7;
            font-size: 18px;
            display: inline-block;
            margin-left: 10%;
        }

        i {
            opacity: 0.85;
            margin: 2.5% 0 0 7%;
        }
    }

    article.sidebar-single-feed.icon {

        /* Fuuul fix.. TBC*/

        p {
            margin-left: 12.5%;
        }
    }
}

#conversationModal {
    .dropdown-menu {
        display: block;
    }

    ul.members-collection {
        margin: 20px 0 0;
        padding-left: 0;
        list-style: none;

        li {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            background-color: $primaryAccentColor;
            border-radius: 3px;
            color: white;
            padding: 0 5px;
            margin: 0 5px;

            button {
                display: inline-block;
                width: 26px;
                background-color: inherit;
                border: none;
                color: #ccc;
            }
        }
    }
}
